/* Голова */
header{
    width: 100%;
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color_black);
    grid-area: header
}
.logo{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 10px;
    user-select: none;
    font-family: Oswald;
}
header nav.main_nav{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color_white);
}
header nav.minor_imp{
    display: flex;
    align-items: center;
    gap: 15px;
}
div.exile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 40%;

}
div.img_minor_imp img{
    width: 2.8rem;
    height: 2.8rem;
    padding: 0.3rem;
}
div.img_minor_imp img:hover{
    background-color: var(--color_blue);
    border-radius: 15px;
}

.welcome{
    width: 100%;
    height: 50rem;
    background-position: center;
    background-size: cover;

    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
div.welcome_content{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.25rem;
    border-radius: 20px;
    position: absolute;
}
p.welcome_content{
    font-size: 1.56rem;
    color: var(--color_white);
}

/* Слайдер приветственного раздела */
.conteiner_header{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    grid-area: conteiner_header;
}
div.conteiner_header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
main.main_header .slider_welcome{
    width: 100%;
    height: 50rem;
    position: relative;
    overflow: hidden;
}
main.main_header div.button_nav{
    display: none;
    opacity: 0;
}

/* Меню */
.menu{
    width: 100%;
    padding: 0.94rem 0;
    display: flex;
    justify-content: center;
    background-color: var(--color_white);
    grid-area: menu;
}
.menu_p{
    padding: 0.44rem;
    font-size: 1.25rem;
    color: black;
}
.block_1{
    margin: 0 0.6rem;
    padding: 0.44rem;
}
.block_1 .menu_p:hover{
    background-color: var(--color_blue);
    border-radius: 8px;
    color: var(--color_white);
}
.block_1 .menu_p{
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
h2.menu_h2{
    background-color: var(--color_white);
    color: var(--color_black);
    text-align: center;
}

/* О нас */
section.about_us{
    background-color: var(--color_darkgrey);
    grid-area: about_us;
    display: grid;
    grid-template-rows: 0.3fr 2fr;
    grid-template-areas:
        "h2_about_us"
        "about_us_main";
}
div.about_us_main{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-areas: "act_1 act_2 act_3 act_4";
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 3.1rem 1.8rem;

    grid-area: about_us_main;
}
div.about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 200px;
    position: relative;
}
div.about_us img.container{
    width: 8rem;
    height: 8rem;
}
h2.about_us{
    padding: 0.94rem;
    color: var(--color_white);

    grid-area: h2_about_us;
}
h3.about_us{
    font-family: Inter;
    padding: 1rem;
    text-align: center;
}
h2.title{
    color: var(--color_white);
    background-color: var(--color_black);
    text-align: center;
    padding: 1.25rem;
}
div.about_us:nth-child(1) { grid-area: act_1; }
div.about_us:nth-child(2) { grid-area: act_2; }
div.about_us:nth-child(3) { grid-area: act_3; }
div.about_us:nth-child(4) { grid-area: act_4; }
.active_1{grid-area: act_1_2;}
.active_2{grid-area: act_2_2;}
.active_3{grid-area: act_3_2;}
.active_4{grid-area: act_4_2;}

.active_1, .active_2, .active_3, .active_4{
    width: 21.25rem;
    height: 12.5rem;
    position: absolute;
    background-color: var(--color_blue);
    overflow: hidden;
    opacity: 0;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    transition-delay: 0,3s;
    transition: opacity 0.3s ease;
}
p.active{
    color: var(--color_white);
    font-family: Inter;
    font-size: 0.94rem;
    padding: 0.94rem;
}

div.about_us:hover .active_1,p.active{
    opacity: 1;
}
div.about_us:hover .active_2,p.active{
    opacity: 1;
}
div.about_us:hover .active_3,p.active{
    opacity: 1;
}
div.about_us:hover .active_4,p.active{
    opacity: 1;
}


/* Коллекцции */
section.collections_all{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6.25rem repeat(3, 1fr);
    grid-template-areas: 
        "h2_collections"
        "nature"
        "magic"
        "neon";
    
    grid-area: collections;
}
h2.collections{
    text-align: center;
    padding: 1.25rem;
    background-color: var(--color_black);
    color: var(--color_white);
    grid: h2_collections;
}
main.left_part{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.75rem 16.9rem 5rem;
    grid-template-areas: 
        "h2"
        "p"
        "colors";
        
    grid-area: left_part;
}
#left_part{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section.color{
    grid-area: colors;
}
main.color{
    display: flex;
    flex-direction: row; 
    justify-content: baseline;
    column-gap: 0;
    align-items: center;
    padding: 0.3rem 0;

    display: grid;
    grid-template-columns: repeat(6, 0.3fr);
    grid-template-areas: 
        "col_1 col_2 col_3 col_4 col_5 col_6";
}
div.main{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.3rem 0;
}
.p_text_about{
    text-align: left;
    grid-area: p;
    color: var(--color_white);
    padding: 0.625rem 0;
}
.h2_about{
    font-size: 3.1rem;
    grid-area: h2;
    color: var(--color_white);
    text-align: left;

    padding: 0.3rem 0;
}

/* Слайдер */
main.main{
    width: 100%;
    height: 100%;
    grid-area: slider;
    display: flex;
    justify-content: right;
    align-items: center;
}
.slider{
    width: 50rem;
    height: 35rem;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.track{
    width: 100%;
    height: 100%;
    display: flex;
    transition-duration: 1s;
}
.conteiner{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.button_nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}
div.conteiner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

button{
    background-color: rgb(255, 255, 255, 0.2);
    padding: 3%;
    border-radius: 50%;
    border: none;
    margin: 0.3rem;
}

/* Кнопка для поднятия наверх */
#elevator{
    position: fixed;
    bottom: 0.625rem;
    right: 0.94rem;
    border-radius: 50%;
    background-color: var(--color_blue);
    background-image: url(images/elevator.png);
    background-position: center;
    background-size: cover;
}


section.important_inform{
    display: grid;
    grid-template-rows: 2fr 0.7fr;
    grid-template-areas:
        "form"
        "contacts";
    grid-area: important_inform;
    padding: 1.8rem 2.8rem;
    background-color: var(--color_black);
    position: relative;
}

/* Форма связи */
section.form_main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "main_left img_form";
    color: var(--color_white);
    background-color: var(--color_black);

    grid-area: form;
}
main.left_part_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-area: main_left;
}
main.left_part_form h2, p{color: var(--color_white);}
main.main_img_form{
    grid-area: img_form;
    display: flex;
    justify-content: center;
    align-items: center;
}
main.main_img_form img{
    object-fit: cover;
    width: 50rem;
    border-radius: 20px;
    height: 35rem;
}
input[type="email"],input[type="text"],input[type="number"]{
    padding: 0.625rem;
    font-size: 1.25rem;
    font-family: Inter;
    border-radius: 10px;
}
input[type="radio"]{
    margin: 0 0.94rem 0 0;
    width: 1.56rem;
    height: 1.56rem;
    accent-color: var(--color_blue);
}
form{
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0;
}
label{
    padding: 0.625rem 0;
    font-family: Oswald;
    font-size: 1.56rem;
}
section.sex{
    display: flex;
    justify-content: left;
    font-family: Inter;
    font-size: 1.56rem;
    padding: 0.625rem 0;
    gap: 2rem;
}
button.form{
    border-radius: 15px;
    background-color: var(--color_white);
    border: 5px solid var(--color_white);
    font-size: 1.56rem;
    padding: 0.3rem;
    width: 12.5rem;
    font-family: Inter;
    margin: 0.625rem 0;
}
button.form:hover{
    border: 5px solid var(--color_blue);
}
main.thank_message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    position: absolute;
    display: none; 
}
#thank_message.active {
    display: flex;
}
main.thank_message div.thank_message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.94rem;
    background-color: var(--color_blue);
    z-index: 1000;
    border-radius: 15px;
    position: relative;
    width: 100%;
}
button.form_thank{
    border-radius: 15px;
    background-color: var(--color_white);
    border: 5px solid var(--color_white);
    font-size: 1.25rem;
    padding: 0.3rem;
    width: 12.5rem;
    font-family: Inter;
    margin: 0.625rem 0;
}
main.thank_message div.thank_message h2{
    color: var(--color_white);
}
main.thank_message div.thank_message img{
    width: 3.75rem;
    height: 3.75rem;
    background-color: var(--color_white);
    border-radius: 50%;
    padding: 0.625rem;
}

/* Контакты */
section.contacts{
    background-color: var(--color_black);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "phone social";
    position: relative;
    padding: 30px 0;
    height: 12.5rem;

    grid-area: contacts;
}
main.phones h2, main.social_media h2{
    color: var(--color_white);
    padding: 1.25rem 0;
}
main.phones{
    grid-area: phone;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
main.social_media{
    grid-area: social;
}
main.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
main.number p{
    font-size: 1.8rem;
    margin: 0 3.1rem 0 0;
}
main.img_social img{
    width: 6.25rem;
    height: 6.25rem;
    background-color: var(--color_darkgrey);
    border-radius: 50%;
    margin-left: 2.8rem;
}
main.img_social img:hover{
    background-color: var(--color_lightgrey);
}
/* Подвал */
footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--color_black);
    padding: 3.1rem 0 1.56rem 0;

    grid-area: footer
}

.footer_p{
    color: white;
    text-transform: uppercase;
    font-size: 1.56rem;
    letter-spacing: 5px;
}