.magic{
    margin: 15px 0 0 0;
    padding: 1.8rem 2.8rem;
    background-image: url(images/Magic/фон_для_сайта.png);
    background-size: cover;
    background-position: center;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "left_part slider";
    grid-area: magic;
}
.magic_color_1{
    width: 70px;
    height: 70px;
    background-color: #c2d9ff;
    border: 2px white solid;
    border-radius: 5px;

    grid-area: col_1;
}
.magic_color_2{
    width: 70px;
    height: 70px;
    background-color: #1230ae;
    border: 2px white solid;
    border-radius: 5px;

    grid-area: col_2;
}
.magic_color_3{
    width: 70px;
    height: 70px;
    background-color: #7481a3;
    border: 2px white solid;
    border-radius: 5px;

    grid-area: col_3;
}
.magic_color_4{
    width: 70px;
    height: 70px;
    background-color: #161853;
    border: 2px white solid;
    border-radius: 5px;

    grid-area: col_4;
}
.magic_color_5{
    width: 70px;
    height: 70px;
    background-color: #ee6f57;
    border: 2px white solid;
    border-radius: 5px;

    grid-area: col_5;
}
.magic_color_6{
    width: 70px;
    height: 70px;
    background-color: #d3c4ab;
    border: 2px white solid;
    border-radius: 5px;

    grid-area: col_6;
}